<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %>
    </div>
  </div>
  <table>
    <tbody>
     <tr>
	    <th>name</th>
        <th><%= user.name %></th>
     </tr>
     <tr>
	    <th>introduction</th>
	    <th><%= user.introduction %></th>
     </tr>
    </tbody>
  </table>

 <% if user.id == current_user.id %>
<div class="row">
   <i class="fas fa-user-cog"><%= link_to "編集",  edit_user_path(user) %></i>
</div>
 <% end %>
